h1 {
  margin-bottom: 0px;
}

.navbarLinks {
  color: black;
}

.row.content {
  height: auto;
}

.name {
  margin-left: 10px;
  font-family: 'Mr Dafoe', cursive;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.shadows {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.cardDiv {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 11px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 13px -7px #000000, 5px 11px 15px 5px rgba(0, 0, 0, 0.25);
}
.aboutmeDiv {
  margin-bottom: 50px;
  padding: 10px 25px 20px 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 11px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 13px -7px #000000, 5px 11px 15px 5px rgba(0, 0, 0, 0.25);

}

.aboutmeH1 {
  font-family: 'Permanent Marker', cursive;

}

.indent {
  margin-right: 0px;
}

body {
  background: url("../images/escheresque_ste.png");
  position: relative;
}

footer {
  border-top: solid 2px rgba(0, 0, 0, 0.877);
}